{
  "endOfLine": "lf",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "printWidth": 80,
  "tailwindFunctions": ["clsx", "cn"],
  "embeddedLanguageFormatting": "auto",
  "keywordCase": "upper",
  "plugins": ["prettier-plugin-tailwindcss"]
}
