@import './tiptap/styles/index.css' layer(base);
@import 'tailwindcss';
@import './shadcn-theme.css';
@import './clerk-matching.css';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
} */

/* Custom scrollbar styling */
@layer base {
  /* For Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: var(--radius-sm);
  }

  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: var(--radius-sm);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }

  /* Dark mode for Webkit browsers */
  .dark ::-webkit-scrollbar-thumb {
    background: #444444;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #666666;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #e0e0e0 var(--background);
  }
  .dark * {
    scrollbar-color: #444444 var(--background);
  }
}

/* Random custom  */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply bg-background font-sans;
  }
}

/* more clerk */

.cl-drawerContent {
  @apply mt-12;
}
